---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<header>
  <nav>
    <Menu />
    <Navigation />
  </nav>
</header>

<style is:global define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
